body{
    background-color: #f1f1f1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('../../assets/background.jpg'); */
    
}
canvas{
    border-radius: 30px;
    box-shadow: 0px 10px 25px -5px #000;
}

.startBtn{
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
    padding: 0 7rem;
    margin-left: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
}